analyzer-1.6.6/*
replay/log/*
replay/Rootfiles/*

**/*~
**/*.o
**/*.a
**/*.so
**/*.d
**/*.root
**/root_hist
**/*.xpm
**/*.pcm
**/*.dat.*
**/*Dict.*
**/*.aux
**/*.log
**/*.out
*.pdf
*bk
*back
*backup
*bak
